#### 2023_12_27일자 연습

format 함수

2개 이상의 값 넣기

In [13]:
number = 10
day = "three"
"I ate {0} apples. so I was sick for {1} days".format(number, day)
#{0},{1} 과 같은 인덱스 항목이 format 함수의 입력값으로 순서에 맞게 바뀜

'I ate 10 apples. so I was sick for three days'

이름으로 넣기

In [17]:
"I ate {number} apples. so I was sick for {day} days".format( day=2,number=7)
# {0},{1} 같은 인덱스가 아닌 {name}형태 사용 
# {name} 형태를 사용할 경우 반드시 name = value 의 형태의 입력값이 있어야만함
# {name} 형태 사용시 format 함수에서 순서는 별로 중요하지 않음

'I ate 7 apples. so I was sick for 2 days'

In [14]:
"I ate {0} apples. so I was sick for {day} days".format(7, day=2)

'I ate 7 apples. so I was sick for 2 days'

혼용 가능

In [15]:
"I ate {0} apples. so I was sick for {day} days".format(day=2,7)

SyntaxError: positional argument follows keyword argument (1557707721.py, line 1)

혼용은 가능하지만 인덱스 사용시 순서는 중요

정렬문자

In [19]:
"{0:<10}".format("hi") # 왼쪽 정렬

'hi        '

In [20]:
"{0:>10}".format("hi") # 오른쪽 정렬

'        hi'

In [21]:
"{0:^10}".format("hi") # 가운데 정렬

'    hi    '

공백 채우기

In [22]:
"{0:=^10}".format("hi") # 가운데 정렬 및 공백 채우기

'====hi===='

In [26]:
"{0:?<10}".format("hi") # 왼쪽 정렬 및 공백 채우기

'hi????????'

In [27]:
"{0:ㅗ>10}".format("hi") # 왼쪽 정렬 및 공백 채우기
# 채워 넣을 문자 값은 정렬 문자 <,>,^ 앞에 넣어야함

'ㅗㅗㅗㅗㅗㅗㅗㅗhi'

소수점 표현하기

In [29]:
y = 3.42134234
"{0:0.4f}".format(y)

'3.4213'

In [30]:
"{0:10.4f}".format(y)

'    3.4213'

문자 표현하기

In [31]:
"{{and}}".format()
# 문자를 사용하고 싶으면 중괄호 2개를써서 포매팅해야함

'{and}'

In [32]:
"{and}".format()
#아닐 경우 오류난다

KeyError: 'and'

f 문자열 포매팅(파이썬 버전 3.6부터 가능)

In [33]:
name = "채지훈"
age = "26"
f"나의 이름은 {name}입니다. 나이는{age}입니다"
#f 접두사 사용시 간편함

'나의 이름은 채지훈입니다. 나이는26입니다'

In [35]:
age = 26
f"나의 이름은 {name}입니다. 나이는{age+1}입니다"
#f 문자열 포매팅 또한 값 참조가 가능

'나의 이름은 채지훈입니다. 나이는27입니다'

딕셔너리 f 문자열 포매팅

In [ ]:
d = {'name':'홍길동', 'age':35}
f'나의 이름은 {d["name"]}입니다. 나이는 {d["age"]}입니다.'

In [ ]:
정렬

In [41]:
f'{"hi":<10}'

'hi        '

In [42]:
f'{"my":^10}'

'    my    '

In [43]:
f'{"me":>10}'

'        me'

In [44]:
f'{"hi":=^10}'

'====hi===='

In [45]:
f'{"hi":!<10}'

'hi!!!!!!!!'

소수점 표현

In [46]:
y = 3.42123411
f'{y:0.4f}'
# 소수점 4번째 자리까지만 표현

'3.4212'

In [49]:
f'{y:10.4f}'
#소수점 4번째 자리까지만 표현, 총 자리수를 10으로 맞춤

'    3.4212'

In [50]:
f'{{and}}'
# f 문자열에서 문자 표시 방법

'{and}'

나 혼자 코딩 p.67 
"!!!python!!!" 출력하기

In [56]:
"{0:!^12}".format("python")

'!!!python!!!'

In [52]:
f'{"python":!^12}'

'!!!python!!!'

문자열 관련 함수

In [58]:
a = "ChaeJiHoon"
a.count('a')
# a의 개수를 세서 반환

1

위치 알려주기 (find)

In [59]:
a = "Python is the best choice"
a.find('b')
# 처음으로 나온 위치 반환

14

In [60]:
a.find('k')
# 없을 경우 -1 반환

-1

위치 알려주기 (index)

In [61]:
a = "Life is too short"
a.index('t')
# 문자 t가 처음으로 나온 위치 반환

8

In [62]:
a.index('k')
# k 가 없기 때문에 에러 발생

ValueError: substring not found

문자열 삽입 (join)

In [63]:
",".join('abcd')
# abcd 사이에 ',' 삽입

'a,b,c,d'

In [64]:
",".join(['a','b','c','d'])
# abcd 사이에 ',' 삽입

'a,b,c,d'

소문자를 대문자로 바꾸기(upper)

In [65]:
a = "hi"
a.upper()

'HI'

대문자를 소문자로 바꾸기(lower)

In [66]:
a = "HI"
a.lower()

'hi'

공백 지우기

In [67]:
a = ' hi '
a.lstrip() 
# 왼쪽 공백을 지움

'hi '

In [68]:
a = ' hi '
a.rstrip() 
# 오른쪽 공백을 지움

' hi'

In [69]:
a = ' hi '
a.strip() 
# 양쪽 공백을 지움

'hi'

문자열 바꾸기

In [70]:
a = 'Life is too short'
a.replace('Life', 'your leg')

'your leg is too short'

문자열 나누기

In [71]:
a = 'Life is too short'
a.split()
# 공백을 기준으로 문자열 나눔

['Life', 'is', 'too', 'short']

In [72]:
b = "a:b:c:d"
b.split(':')
# : 기호를 기준으로 문자열 나눔

['a', 'b', 'c', 'd']